# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
NewYearOpenCL/.idea/
*.pyc
NewYearPy/.idea/
NewYearCUDA/.idea/
NewYearPy/res/ball.psd
NewYearOpenCL/cmake-build-debug/
NewYearOpenCL/cmake-build-default-win64vc-vcpkg/
